 /* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

/* Header Styling */
.App-header {
  background-color: #333;
  color: white;
  padding: 20px;
}

.App-header nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

.App-header nav ul li {
  margin: 0 20px;
}
#logo{
  margin-left: 0;
  display: flex;
  justify-content: end;
  height: 50px;
  padding-left: 0;
  padding-top: 0%;
  padding-bottom: 0;
}
.App-header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Hero Section */
.hero {
  background-color: #13664d;
  color: white;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero button {
  background-color: #23d868;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero button:hover {
  background-color: #0ab14a;
}

/* Features Section */
.features {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: #f1faee;
}

.feature {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1em;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-top: 30px;
}