/* Center the form */
.continer {
    width: 70%;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  
  /* Title */
  .form-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Form Styles */
  .scrap-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .scrap-form label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .scrap-form input {
    padding: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* File Upload Input */
  .scrap-form input[type="file"] {
    border: none;
  }
  
  /* Register Button */
  .register-btn {
    background-color: #5dc85b;
    color: white;
    font-size: 26px;
    padding: 19px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .register-btn:hover {
    background-color: #4aae4a;
  }
  